@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

@font-face {
  font-family: Rubik One;
  src: url('./assets/fonts/RubikMonoOne-Regular.ttf');
}

@layer components {
  .button-hover {
    @apply hover:bg-yellow cursor-pointer rounded-sm transition-all duration-200 pl-2 pr-2 text-lg hover:text-navy;
  }
}

:root {
  font-family: "Rubik Mono One", monospace;
  background-color: #141819;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-family: "Rubik One", monospace;
}
